<div class="container-fluid" style="background-color: #F0F3F2;">
  <div class="row p-5">
    <div class="col-md-12 col-lg-4">
      <h6 class="mb-4">Categories</h6>
      <div class="row">
        <div class="col-6">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Breakfast & instant food</li>
            <li class="nav-item mb-2">Bakery & Biscuits</li>
            <li class="nav-item mb-2">Atta, rice & dal</li>
            <li class="nav-item mb-2">Sauces & spreads</li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Organic & gourmet</li>
            <li class="nav-item mb-2">Baby care</li>
            <li class="nav-item mb-2">Cleaning essentials</li>
            <li class="nav-item mb-2">Personal care</li>
            <li class="nav-item mb-2">Pet care</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-8">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3">
          <h6>Get to know us</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Company</li>
            <li class="nav-item mb-2">About</li>
            <li class="nav-item mb-2">Blog</li>
            <li class="nav-item mb-2">Help Center</li>
            <li class="nav-item mb-2">Our Value</li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <h6>For Consumers</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Payments</li>
            <li class="nav-item mb-2">Shipping</li>
            <li class="nav-item mb-2">Product Returns</li>
            <li class="nav-item mb-2">FAQ</li>
            <li class="nav-item mb-2">Shop Checkout</li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <h6>Become a Shopper</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <h6>Freshcart programs</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
            <li class="nav-item mb-2">Vegetables & Fruit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-3 mb-lg-0 text-center text-lg-left">
            <ul class="list-inline">
                <li class="list-inline-item fw-bold mx-3">Payment Partner</li>
                <li class="list-inline-item mx-3"><a href="#"><img src="../../../assets/images/PaymentPartnerLogos/amazonpay.svg" alt="Amazon Pay"></a></li>
                <li class="list-inline-item mx-3"><a href="#"><img src="../../../assets/images/PaymentPartnerLogos/americanexpress.svg" alt="American Express"></a></li>
                <li class="list-inline-item mx-3"><a href="#"><img src="../../../assets/images/PaymentPartnerLogos/mastercard.svg" alt="MasterCard"></a></li>
                <li class="list-inline-item mx-3"><a href="#"><img src="../../../assets/images/PaymentPartnerLogos/visa.svg" alt="Visa"></a></li>
            </ul>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <ul class="list-inline">
                <li class="list-inline-item fw-bold mx-3">Download Piesales</li>
                <li class="list-inline-item mx-3 p-lg-0 p-2"><a href="#"><img src="../../../assets/images/DownloadRefLogo/AppStore.svg" alt="App Store"></a></li>
                <li class="list-inline-item mx-3 p-lg-0 p-2"><a href="#"><img src="../../../assets/images/DownloadRefLogo/Playstore.svg" alt="Play Store"></a></li>
            </ul>
        </div>
    </div>
</div>

  <hr/>

</div>
